
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        test1
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        test2
    </div>

</div>