@using Microsoft.AspNetCore.Identity
@using Web_Shoes.Entity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="cart">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="cart">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class=" btn btn-link ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="cart">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="cart">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

