@{

    Layout = null;
}

<link href="~/css/captcha.css" rel="stylesheet" />

<form action="/" method="post" onsubmit="return checkform(this);">

    <label for="textid">Test</label>
    <input type="text" name="name" value="" id="textid" />

    <!-- START CAPTCHA -->
    <br>
    <div class="capbox">

        <div id="CaptchaDiv"></div>

        <div class="capbox-inner">
            Type the number:<br>

            <input type="hidden" id="txtCaptcha">
            <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

        </div>
    </div>
    <br><br>
    <!-- END CAPTCHA -->
    <br />
    <input type="submit" name="name" value="Submit" />
</form>


<script src="~/js/captcha.js"></script>
