@{

    Layout = "_LayoutAdmin";
}


<div class="row">
    <div class="col-md-12">
        test1
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <img src="https://drive.google.com/uc?export=download&id=1FPqHYAwfLV5SetqQA3r7aKmI8RpOPfsE" alt="Alternate Text" />
    </div>

</div>